.bg-myColor{
  background-color: #E07A5F;
}

.App {
  text-align: center;
  background-color: #F4F1DE;
}

html {
  background-color: #F4F1DE;
}

.title {
  padding-top: 25px;
}

.card {
  margin: auto;
  width: auto;
}

.card-img-top{
  width: 250px;
  height: 250px;
}

.border-dark{
  margin-top: 20px;
  margin-bottom: 35px;
}

.ranking{
  font-weight: bold;
}

#expBtn{
  background-color: #3D405B;
  border-color: #3D405B;
  width: 120px;
}

#books {
  width: 800px;
  min-height: 600px;
  margin: 0 auto;
  
}

#book-list{
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
  margin-top: 30px;
}

.book-item{
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.list-group {
  border-color: blue;
}

#search-list{
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
}

.search-item{
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.radio{
  margin-top: 20px;
  text-align: center;
}

label, input{
  margin-right: 20px;
  margin-left: 30px;;
}

#srchBar{
  width: 450px;
}

.modal-body {
  text-align: center;
}

.modal-footer{
  margin: 0 auto
}